/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
/* Float four columns side by side */

.cosmos-h3 { 
  font-size: 1.2em;
  font-weight: bold;
}
.cosmos-h5 { 
  font-size: 0.9sem;
}

.cosmos-bold { 
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
  padding: 0 10px; 
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cosmos-card .card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  padding: 16px;
  /*border-radius: 5px;*/
}

.timerCard {
  width: 540px;
  max-width: 100%;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  z-index: auto;
  margin-top: 10px;
}

.cosmos-card {
  width: 540px;
  max-width: 100%;
  height: min-content;
  background-color: white; /*3*/
  box-shadow: 0px 0px 4px #999; /*4*/
  margin: 0 auto;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
}

.cosmos-step {
  width: 58%;
  display: flex;
  flex-direction: column;
  border: 1px #E2E2E2 solid;
  /*background: #d1d1d1;*/
  margin: 0 auto;
  border-radius: 10px;
  overflow-wrap: break-word;
  padding: 1rem 1.5rem;
 
}

.cosmos-payinfo {
  position: relative;
  top: 1%;
  width:300px;
  height:100px;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin: 0 auto;
  overflow:hidden;

}

.cosmos-content {
  padding: 3em 4em;
  word-wrap: break-word;
  font-size: 16px;
}

.cosmos-content p {
  font-style: normal;
}

.cosmos-content input {
  color:#676767;
  widht:100%;
  overflow:hidden;
  border: 1px solid #E2E2E2;
  border-radius:5px;
  width:100%;
  padding: 5px 10px;
}
.cosmos-separator{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   padding-top: 2em;
   font-weight: bold;
   font-style: normal;
   margin: 2em 0;
}
.cosmos-separator span {
  background:#fff; 
  padding: 0px 20px;
}

.cosmos-butkeplr {
  display:inline-block;
  background: #008C261A 0% 0% no-repeat padding-box;
  border:none;
  border-radius: 7px;
  width: 200px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  color:#00B786;
  letter-spacing:0px;
  text-align:center;
}
.cosmos-butkeplr:hover {
  color:#ffff;
  background-color:#00B786;
}

.cosmos-butkeplr img {
  padding: 1px 0;
  display: inline-block;
}
.cosmos-butcancel {
  background: #ffff 0% 0% no-repeat padding-box;
  border-radius:5px;
  border:none;
  width: 200px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  color:#FC5A5A;
  letter-spacing:0px;
  text-align:center;
}
.cosmos-butcancel:hover {
  color:#B40404;
}

.cosmos-card-title {
      align-content: flex-end;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cosmos-card-title h3 {
  color:#3C3C3C;
  font-size: 5rem;
  font-weight: bolder;
}
.cosmos-card-title img {
  float:left;
  margin: 0 10px 0px;
}
.cosmos-card .cosmos-card-amount {
  display: flex;
  justify-content: center;
  color: #3C3C3C;
  font-size: 1rem;
  font-weight: lighter;
}
.cosmos-card .btnText {
    width: 20%;
    vertical-align: middle; 
    /*display: inline-block;*/
}
/* page */
.cosmos-card svg {
  display:inline-flex;
  vertical-align: middle;
}

.cosmos-card .right {
  text-align: end;
  position: relative;
}

.cosmos-card .input-wrapper {
  position: relative
}
.cosmos-card .input-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f24d';
  position: absolute;
  right: 6px;
  padding: 5px 1px;
}


.cosmos-card .box {
  margin-bottom: -2.2em;
}

.cosmos-card .box select {
  background-color: white;
  color: black;
  
  width: 410px;
  max-width: 100%;
  border: 2px solid #f3f3f3;
  /*box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;*/
  outline: none;
  border-radius: 5px;
}
 
/* .box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
} */

.cosmos-card .box:hover::before {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

.cosmos-card .box select option {
  padding: 30px;
  
}
.cosmos-card .buttonSend {
  color: white;
  padding: 10px;
  width: 410px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;  
  background-color: #3CC194; 
  border: 2px solid #3CC194; 
  border-radius: 5px;
}
.cosmos-card .buttonRetry {
  color: white;
  padding: 10px 175px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;  
  background-color: #3CC194; 
  border: 2px solid #3CC194; 
  border-radius: 5px;
}
.cosmos-card .buttonCancel {
  color: white;
  padding: 19px 100px;
  text-align: center;
 
  /* font-size: 16px;
  margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;  
  background-color: red; 
  color: black; 
  border: 2px solid red;
 
}
.cosmos-card .cancelTx {
  border: none;
  padding: 10px;
  text-align: center;
}

.cosmos-card #finalAmount, .cosmos-card h5 {
  margin: 4px 0;
}
.cosmos-card p {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  font-size: 1em;
}
#cosmos-footer-text {
  margin: 10px auto 0 auto;
  font-size: 18px;
  width: 540px;
  max-width: 100%;
  text-align: center;
}
.cosmos-card .buttonSend {
  margin-top: 15px;
}
.cosmos-card button {
  font-weight: bold;
}
.cosmos-card #cancelTx1 h5 {
  font-weight: normal;
}

.cosmos-card .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid green; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
}

@media (max-width: 480px) {
  .cosmos-content {
    padding: 2em 1em;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
